var config = {}

config.track = '#nyc, #nature, #food, #instalike, #swag, #fun, #friends'
config.img_path = 'public/img/'
config.del = true
config.host = 'localhost'
config.port = 8080

config.twitter = {
  'consumer_key' : ''
  , 'consumer_secret' : ''
  , 'access_token_key' : ''
  , 'access_token_secret' : ''
}

module.exports = config