doctype 5
html
  head
    body
    .intro Waiting for tweets
      span.a
        | .
        span.b
          | .
          span.c
            | .
    link(rel='stylesheet', href='style.css')
    script(src='/socket.io/socket.io.js')
    script(src='three.min.js')
    script(src='init.js')